<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artem_obrazumov.mycity">

    <application
        android:name=".MyCityApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCity">
        <activity
            android:name=".ui.reviewEditor.ReviewEditorActivity"
            android:exported="true" />
        <activity
            android:name=".ui.display.VideoDisplayActivity"
            android:theme="@style/Theme.MyCity.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".ui.display.ImageDisplayActivity"
            android:theme="@style/Theme.MyCity.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".ui.instructions.InstructionsActivity"
            android:theme="@style/Theme.MyCity.NoActionBar" />
        <activity
            android:name=".ui.citySelect.CitySelectActivity"
            android:theme="@style/Theme.MyCity.NoActionBar" />
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:theme="@style/Theme.MyCity.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.authorization.AuthorizationActivity"
            android:theme="@style/Theme.MyCity.NoActionBar" />
        <activity
            android:name=".ui.registration.RegistrationActivity"
            android:theme="@style/Theme.MyCity.NoActionBar" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
    </application>

</manifest>